.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color: #eeeeee;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
    
  background-color: #4a85dd;
margin-bottom: 0px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}


.btn-primary {
    background-color: rgba(59, 104, 176, 0.6);
    border-style: none; 
    border-radius: 0;
}

.btn-primary:hover, .btn-danger:hover {
    border-style: none;
    transition: 0.7s;
}

.btn-danger {
    background-color: rgba(217, 83, 79, 0.6);
    border-radius: 0;
    border-style: none; 
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width:100%;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
/*    margin-bottom: 30px;*/
      box-shadow: 0px 3px 8px #cccccc;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

input[type=range][orient=vertical] {
    position:absolute;
    -webkit-appearance: slider-vertical;
    left: 50%;
    height: 242px;
    width: 17%;
    border-radius: 5px;
    background: #ffffff;
    cursor: pointer;
}

button.fill_parent80{
  width:100%;
  text-align: center;
}

div.rockbottom{
  position:absolute;
  bottom:0;
  height:60vh;
}

button.rockbottom{
  position:absolute;
  bottom:0;
  left: 50%;
}
h1.aboveup{
  position:absolute;
  bottom:299px;
  left: 50%;
}

.container {
    width: 100%;
/*
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
*/
}

.cam {
    position: fixed;
    top: 76px;
}

.zoom {
    z-index: 999;
    position: relative;
}

div#map {
    z-index: 999;
    position: relative;
    margin-top: -50px;

    border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
    
    border-color: #4a85dd;
    border-style: solid;
    border-width: 6px;
}

img {
    width: 30%;
}

#hideDiv-takeoff:hover #hideText-takeoff,
#hideDiv-home:hover #hideText-home,
#hideDiv-clear:hover #hideText-clear,
#hideDiv-shadow:hover #hideText-shadow,
#hideDiv-emergency:hover #hideText-emergency{
    display: block;
    text-align: center;
    margin: auto;
    font-size: 12px;
    color: white;
}

#hideText-takeoff, #hideText-home, #hideText-clear, #hideText-shadow, #hideText-emergency{
    display: none;
    transition:1s;
}
