<div ng-controller="beaconCtrl">

<h1>
Beacon Portal
</h1>
<i>List of Active Avian Drones in the Area</i>

<div id = "contactinfo" style="background: rgba(200,220,223, 0.7);">
	<div id="map"></div>
	<h2>
	Avian Drone 1
	</h2>
	<h3>
	Location: Sechelt, BC
	</h3>
	<h3>
	Operator: SSC Properties
	</h3>
	<h3>
	Operator ID: 001
	</h3>
	<h3>
	Contact Information:
	</h3>
	<h4>
	Phone Number: (778)-xxx-xxxx
	</h4>
	<h4>
	Operator Address: 
	</h4>
	<h5>
	<br> 1234 Bear Street, <br> Sechelt, BC, <br> Canada <br> V0A 0A0
	</h5>
	
</div>

<script src="/scripts/lib/avian.js">
</script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?callback=initMap">
</script>

</div>

