<div ng-controller="MainCtrl">
  <div class="row noGaps">
<!--
    <div class="col-md-2" style="height:80vh;" >
      <div class="row">
        <div class="col-md-8"><h3>status :</h3></div>
        <div class="col-md-4" id="statusBox" style="background: red; height: 100%">
        </div>
      </div>
        
      <button type="button" onClick="sendTakeoff()" class="btn btn-primary fill_parent80" aria-label="Center Align">
        <span class="glyphicon glyphicon-upload" aria-hidden="true"> Takeoff </span>
      </button>
      <br />
      <button type="button" onClick="sendHome()" class="btn btn-primary fill_parent80" aria-label="Center Align">
        <span class="glyphicon glyphicon-home" aria-hidden="true"> Go Home </span>
      </button>
      <br />
      <button type="button" onClick="sendLand()" class="btn btn-danger fill_parent80" aria-label="Center Align">
        <span class="glyphicon glyphicon-road" aria-hidden="true"> Land </span>
      </button>
      <div class="rockbottom">
        
      </div>
    </div>
    <div class="col-md-6">
      <object width="100%" height="100%"> 
======= -->
      
    <div class="col-md-1 zoom">
      <input id="currentAlt" type="range" orient="vertical">
    </div>
    <div class="col-md-6">
    </div>
    <div class="col-md-5">
        <div id="map"></div>
    </div>

    <div class="col-md-12 cam noGaps">
      <object width="100%" height="100%"> 
        <param name="movie" value="../StrobeMediaPlayback.swf"></param>
        <param name="flashvars" value="src=rtmp%3A%2F%2Fwww.avianrobotics.com%3A3002%2Flive%2Fstream1&streamType=live&optimizeBuffering=false&bufferTime=0&initialBufferTime=0&expandedBufferTime=0&liveBufferTime=0&minContinuousPlaybackTime=0&autoPlay=true&controlBarMode=none"></param>
        <param name="allowFullScreen" value="true"></param>
        <param name="wmode" value="direct"></param>
        <embed id="videostreamwebkit" src="../StrobeMediaPlayback.swf" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" wmode="direct" width="100%" height="100%" flashvars="src=rtmp%3A%2F%2Fwww.avianrobotics.com%3A3002%2Flive%2Fstream1&streamType=live&optimizeBuffering=false&bufferTime=0&initialBufferTime=0&expandedBufferTime=0&liveBufferTime=0&minContinuousPlaybackTime=0&autoPlay=true&controlBarMode=none"></embed>
      </object>
    </div>

<!--
    <div class="col-md-4">
      <div id="map" style="height:75vh;  overflow:visible;"></div>
      <br />
      <button type="button"  onClick="deleteMarkers()" class="btn btn-primary fill_parent80" aria-label="Center Align">
        <span class="glyphicon glyphicon-trash" aria-hi6den="true"> Clear Goto </span>
======= -->
  </div>
<br />
<br />
<br />
<br /> 
<br />
<br /> 
<div id="controls" class="col-md-1">
      <div class="row" id="hideDiv-takeoff">
      <button type="button" onClick="sendTakeoff()" class="btn btn-primary" aria-label="Center Align">
<!--        <span class="glyphicon glyphicon-upload" aria-hidden="true"> Takeoff </span>-->
          <img aria-hidden="true" src="../images/takeoff.png" alt="takeOff">
      </button>
          <span id="hideText-takeoff">Takeoff</span>
    </div>
    <div class="row" id="hideDiv-clear">
      <button type="button"  onClick="deleteMarkers()" class="btn btn-primary" aria-label="Center Align">
<!--        <span class="glyphicon glyphicon-trash" aria-hidden="true"> Clear Goto </span>-->
          <img aria-hidden="true" src="../images/clear.png" alt="clear">
      </button>
        <span id="hideText-clear">Clear Goto</span>
    </div>
        <div class="row" id="hideDiv-home">
      <button type="button" onClick="sendHome()" class="btn btn-primary" aria-label="Center Align">
<!--        <span class="glyphicon glyphicon-home" aria-hidden="true"> Go Home </span>-->
          <img aria-hidden="true" src="../images/home.png" alt="home">
      </button>
            <span id="hideText-home">Go Home</span>
    </div>
    <div class="row" id="hideDiv-shadow">
      <button type="button" onClick="shadow()" class="btn btn-primary" aria-label="Center Align">
<!--        <span class="glyphicon glyphicon-home" aria-hidden="true"> Go Home </span>-->
          <img aria-hidden="true" src="../images/shadow.png" alt="shadow">
      </button>
            <span id="hideText-shadow">Shadow</span>
    </div>
    <div class="row" id="hideDiv-emergency">
      <button type="button" onClick="sendLand()" class="btn btn-danger" aria-label="Center Align">
<!--        <span class="glyphicon glyphicon-road" aria-hidden="true"> Emergency Landing</span>-->
          <img aria-hidden="true" src="../images/emergency.png" alt="emergency">
      </button>
        <span id="hideText-emergency">Emergency Landing</span>
    </div>
</div>

<span style="visibility: hidden;"><div class="col-md-4" id="statusBox" style="background: red; height: 100%"><h3 id="currentAltInt">11</h3></span>
<div class="col-md-1">
    </div>
  </div>     

<script src="/scripts/lib/avian.js">
</script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLtEbTSjf02wLl7tTjy9X7M53f-H_HS58&callback=initMap">
    </script>
</div>
