<div ng-controller="MainCtrl">
  <div class="row">
    <div id="map" style="height:500px;  overflow:visible;"></div>
  </div>
  <br />
      <div class="col-md-3">
      <button type="button" onClick="sendTakeoff()" class="btn btn-primary" aria-label="Center Align">
        <span class="glyphicon glyphicon-upload" aria-hidden="true"> Takeoff </span>
      </button>
    </div>
    <div class="col-md-3">
      <button type="button"  onClick="deleteMarkers()" class="btn btn-primary" aria-label="Center Align">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"> Clear Goto </span>
      </button>
    </div>
        <div class="col-md-3">
      <button type="button" onClick="sendHome()" class="btn btn-primary" aria-label="Center Align">
        <span class="glyphicon glyphicon-home" aria-hidden="true"> Go Home </span>
      </button>
    </div>
    <div class="col-md-3">
      <button type="button" onClick="sendLand()" class="btn btn-danger" aria-label="Center Align">
        <span class="glyphicon glyphicon-road" aria-hidden="true"> Emergency Landing</span>
      </button>
    </div>

<script src="/scripts/lib/avian.js">
</script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?callback=initMap">
    </script>
</div>