<div ng-controller="PanelCtrl" style="min-height:646px">
  <div class="row">
  	<div class="col-md-12"><h1> Please select a task </h1> </div>
  </div>
  <div class="row">
    <div class="col-md-4">
    	<h3> Start survailing : </h3><a ng-href="http://test.avianrobotics.com/#/"><button type="button" class="btn btn-primary" aria-label="Center Align">
    	<span class="glyphicon glyphicon-triangle-right" aria-hidden="true">  </span>
      </button></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
    	<h3> Search and rescue : </h3><button type="button" class="btn btn-primary" aria-label="Center Align">
    	<span class="glyphicon glyphicon-triangle-right" aria-hidden="true">  </span>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
    	<h3> Fire Detection : </h3><button type="button" class="btn btn-primary" aria-label="Center Align">
    	<span class="glyphicon glyphicon-triangle-right" aria-hidden="true">  </span>
      </button>
    </div>
  </div>
 </div>